<o-table attr="bookings" service="bookings" entity="booking" keys="id" sort-columns="name:DESC"
  columns="id;id_user;id_product;units;reservation_date;reservation_state;unit_price;total_price;reservation_days" 
  visible-columns="id;id_user;id_product;units;reservation_date;reservation_state;unit_price;total_price;reservation_days" query-on-init="true"
  query-on-init="true" query-rows="20" quick-filter="yes"
  insert-table="yes">
  <o-table-column attr="id_user" orderable="yes" searchable="no" type="string">
  </o-table-column>
  <!-- <o-table-column attr="photo" orderable="no" searchable="no" type="image" image-type="base64"
    empty-image="assets/images/login_bg.jpg" avatar="yes">
  </o-table-column> -->
  <o-table-column attr="units" orderable="yes" searchable="no" type="number">
  </o-table-column>
  <o-table-column attr="reservation_state" title="active">
    <o-table-cell-renderer-boolean render-true-value="task_alt" render-false-value="cancel" render-type="icon"
        boolean-type="boolean">
    </o-table-cell-renderer-boolean>
  </o-table-column>
  <o-table-column attr="reservation_days">
  </o-table-column>
  <o-table-column attr="total_price" title="price" type="currency" thousand-separator="." decimal-separator="," currency-symbol="€" currency-symbol-position="right"></o-table-column>
</o-table>
