table {
    width: 100%;
}
#bienvenida{
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.user-list-container {
    max-width: 500px;
    margin: 2rem auto;
    border-radius: 15px;
    overflow: hidden;
} 