<!-- <span class="card-title">{{ 'CUSTOMER_TYPE' | oTranslate }}</span> -->

<!-- <o-chart  #discretebar1 type="discreteBar" x-label="Axis x" y-label="Axis Y" [data]="graphData"
 [chart-parameters]="chartParameters" fxFlex class="users-card-chart"></o-chart> -->
 <!-- <o-chart type="discreteBar" x-label="Axis x" y-label="Axis Y" x-axis="name" y-axis="not_picked_up" service="bookings" entity="usersBooking"
    x-data-type="text" parent-keys="id_user"[chart-parameters]="chartParameters" fxFlex class="users-card-chart"></o-chart> -->
<o-chart type="discreteBar" x-axis="name" y-axis="not_picked_up" service="bookings" entity="usersBooking" [chart-parameters]="chartParameters" fxFlex class="users-card-chart"></o-chart>

 <!-- service="bookings" entity="usersBooking" -->