<o-form #detailProduct service="products" entity="product" keys="ID" header-actions="R;I;U;D" show-header-navigation="no">
    <!-- <o-text-input attr="ID" sql-type="INTEGER" enabled="no"></o-text-input> -->
    <o-row>
      <o-column>
        <o-image attr="PHOTO" empty-image="assets/images/no-image.png" sql-type="varchar"></o-image>
      </o-column>
      <o-column class="productInformation" title-label="PRODUCT_INFORMATION" fxFlex>
        <o-row>
          <o-integer-input attr="ID" class="input-padding" fxFlex="40" required="yes" enabled="no"></o-integer-input>
          <o-slide-toggle attr="ACTIVE" label-position="before"></o-slide-toggle>
          <!-- <o-radio attr="ACTIVE" [static-data]="getDataArray()" 
          value-column="key" columns="key;value" visible-columns="value" read-only="no" required="yes"
           layout="row" translate="yes"></o-radio> -->
        </o-row>
        <o-row>
          <o-text-input class="input-padding" attr="NAME" fxFlex="40" required="yes"></o-text-input>
          <o-integer-input attr="STOCK" class="input-padding" step="0" grouping="no" fxFlex="40"></o-integer-input>
        </o-row>
        <o-row>
            <!-- <o-text-input attr="STATE_NAME" class="input-padding" step="0" grouping="no" fxFlex="40"></o-text-input> -->
            
            
            <o-currency-input attr="PRICE" class="input-padding" step="0" grouping="no" fxFlex="40"></o-currency-input>
            <!-- <o-text-input attr="ACTIVE" fxFlex="40"></o-text-input> -->
            <o-date-input attr="DATE_ADDED" fxFlex="40"></o-date-input>
        </o-row>
        <o-row>
          <o-combo attr="STATE" fxFlex="80" service="states" entity="state" keys="id_state" columns="id_state;state_name"
          visible-columns="state_name" value-column="id_state" translate="yes" class="input-padding"></o-combo>
        </o-row>
        <o-row>
            <o-textarea-input attr="BODY" class="input-padding" step="0" grouping="no" fxFlex="80"></o-textarea-input>
        </o-row>
      </o-column>
    </o-row>
  </o-form>