<o-form #detailProduct service="products" entity="product" keys="ID" header-actions="R;I;U;D" show-header-navigation="no">
    <!-- <o-text-input attr="ID" sql-type="INTEGER" enabled="no"></o-text-input> -->
    <o-row>
      <o-column>
        <o-image attr="PHOTO" empty-image="assets/images/no-image.png" sql-type="varchar"></o-image>
      </o-column>
      <o-column class="productInformation" title-label="PRODUCT_INFORMATION" fxFlex>
        <o-row>
          <o-integer-input attr="ID" class="input-padding" fxFlex="40" required="yes" enabled="no"></o-integer-input>
          <o-slide-toggle attr="ACTIVE" label="ACTIVE" [data]="1" boolean-type="number" read-only="no"></o-slide-toggle>
        </o-row>
        <o-row>
          <o-text-input class="input-padding" attr="NAME" fxFlex="40" required="yes"></o-text-input>
          <o-integer-input attr="STOCK" class="input-padding" step="0" grouping="no" fxFlex="40"></o-integer-input>
        </o-row>
        <o-row>
            <o-textbonocultura-input attr="STATE_NAME" class="input-padding" step="0" grouping="no" fxFlex="40"></o-textbonocultura-input>
            
            
            
            <o-integer-input attr="PRICE" class="input-padding" step="0" grouping="no" fxFlex="40"></o-integer-input>
            <!-- <o-text-input attr="ACTIVE" fxFlex="40"></o-text-input> -->
        </o-row>
        <o-row>
            <o-date-input attr="DATE_ADDED" fxFlex="40"></o-date-input>
        </o-row>
        <o-row>
            <o-text-input attr="BODY" class="input-padding" step="0" grouping="no" fxFlex></o-text-input>
        </o-row>
      </o-column>
    </o-row>
  </o-form>
  