<o-form #detailBooking service="bookings" entity="booking" keys="id" header-actions="R;U" show-header-navigation="no">
    <o-row>
      <o-column>
        <o-image attr="photo" empty-image="assets/images/no-image.png" sql-type="varchar"></o-image>
      </o-column>
      <o-column class="bookingInformation" title-label="booking_information" fxFlex>
        <o-row>
          <o-integer-input attr="id" class="input-padding" fxFlex="40" required="yes" enabled="no"></o-integer-input>
          <o-text-input class="input-padding" attr="name" fxFlex="40" required="yes" enabled="no"></o-text-input>
        </o-row>
        <o-row>
            <o-integer-input attr="units" class="input-padding" fxFlex="40" required="yes" enabled="no"></o-integer-input>
            <o-currency-input attr="unit_price" class="input-padding" step="0" grouping="no" fxFlex="40" enabled="no"></o-currency-input>
        </o-row>  
        <o-row>
            <o-currency-input attr="total_price" class="input-padding" step="0" grouping="no" fxFlex="40" enabled="no"></o-currency-input>
        </o-row>
        <o-row>
            <o-date-input attr="reservation_date" fxFlex="40" enabled="no"></o-date-input>
            <o-date-input attr="end_date" fxFlex="40" enabled="no"></o-date-input>
        </o-row>
        <o-row>
            <o-text-input class="input-padding" attr="state_name" fxFlex="40" required="yes" enabled="no"></o-text-input>
        </o-row>
        <o-row>
            <o-text-input class="input-padding" attr="name_location" fxFlex="40" required="yes" enabled="no"></o-text-input>
        </o-row>
        <o-row>
            <o-text-input attr="body" class="input-padding" step="0" grouping="no" fxFlex="80" enabled="no"></o-text-input>
        </o-row>
        <o-row>
            <o-text-input attr="collection_completed" title="picked_up" type="date" class="input-padding" fxFlex="40" enabled="no"></o-text-input>
            <o-combo #rState attr="reservation_state" fxFlex="80" service="reservationStates" entity="clientReservationState" keys="id_state" columns="id_state;name_reservation_state"
            visible-columns="name_reservation_state" value-column="id_state" translate="yes" class="input-padding" null-selection="no" ng-model="selectedOption" 
            (onValueChange)="enable($event)" enabled="{{enabled}}"></o-combo>
        </o-row>
      </o-column>
    </o-row>
  </o-form>