<o-form #detailBooking service="bookings" entity="myBooking" keys="id" header-actions="R;U" show-header-navigation="no">
    <o-row>
      <o-column>
        <o-image attr="photo" empty-image="assets/images/no-image.png" sql-type="varchar"></o-image>
      </o-column>
      <o-column class="bookingInformation" title-label="booking_information" fxFlex>
        <o-row>
          <o-integer-input attr="id" class="input-padding" fxFlex="40" required="yes" enabled="no"></o-integer-input>
          <o-text-input class="input-padding" attr="name" fxFlex="40" required="yes" enabled="no"></o-text-input>
        </o-row>
        <o-row>
            <o-integer-input attr="units" class="input-padding" fxFlex="40" required="yes" enabled="no"></o-integer-input>
            <o-currency-input attr="unit_price" class="input-padding" step="0" grouping="no" fxFlex="40" enabled="no"></o-currency-input>
        </o-row>  
        <o-row>
            <o-currency-input attr="total_price" class="input-padding" step="0" grouping="no" fxFlex="40" enabled="no"></o-currency-input>
        </o-row>
        <o-row>
            <o-date-input attr="reservation_date" fxFlex="40" enabled="no"></o-date-input>
            <o-date-input attr="end_date" fxFlex="40" enabled="no"></o-date-input>
        </o-row>
        <o-row>
            <o-text-input class="input-padding" attr="state_name" translate="yes" fxFlex="40" required="yes" enabled="no"></o-text-input>
        </o-row>
        <o-row>
            <o-text-input class="input-padding" attr="name_location" fxFlex="40" required="yes" enabled="no"></o-text-input>
        </o-row>
        <o-row>
            <o-text-input attr="body" class="input-padding" step="0" grouping="no" fxFlex="80" enabled="no"></o-text-input>
        </o-row>
        <o-row>
            <o-text-input attr="collection_completed" title="picked_up" type="date" class="input-padding" fxFlex="40" enabled="no"></o-text-input>
            <!-- <o-slide-toggle attr="reservation_state" label-position="before"></o-slide-toggle> -->
        </o-row>
      </o-column>
    </o-row>
  </o-form>