<o-form #newProduct service="products" entity="product" keys="id" header-actions="R;I;U;D" show-header-navigation="no">
  <o-row>
    <o-column>
      <o-image id="product_photo" attr="photo" empty-image="assets/images/no-image.png" sql-type="varchar"></o-image>
    </o-column>
    <o-column class="productInformation" title-label="PRODUCT_INFORMATION" fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="name" fxFlex="40" required="yes"></o-text-input>
        <o-slide-toggle attr="active" label-position="before"></o-slide-toggle>
      </o-row>
      <o-row>
        <o-date-input #inputDate start-at="{{today}}" attr="date_added" fxFlex="60" required="yes"></o-date-input>
      </o-row>
      <o-row>
        <o-integer-input #stockInput [validators]="validatorsArray" attr="stock" class="input-padding" min="1" step="1" grouping="no" fxFlex="60" >
          <o-validator error-name="hasChar" error-text="{{VALIDATOR.HASCHAR}}"></o-validator>
        </o-integer-input>
      </o-row>
      <o-row>
        <o-currency-input attr="price" [validators]="validatorsArray" class="input-padding" step="0" grouping="no" fxFlex="60">
          <o-validator error-name="hasNegative" error-text="{{VALIDATOR.HASNEGATIVE}}"></o-validator>
        </o-currency-input>
      </o-row>
      <o-row>
        <!-- <o-integer-input attr="active" required="yes" fxFlex="60"></o-integer-input> -->
        <o-combo #stateC attr="state" fxFlex="60" service="states" entity="state" keys="id_state"
          columns="id_state;state_name" visible-columns="state_name" value-column="id_state" translate="yes"
          class="input-padding" null-selection="no" (onDataLoaded)="defaultId($event)"></o-combo>
      </o-row>
      <o-row>
        <o-textarea-input attr="body" class="input-padding" step="0" grouping="no" fxFlex="60"></o-textarea-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>