<!-- <span class="card-title">{{ 'CUSTOMER_TYPE' | oTranslate }}</span> -->
<!-- <o-chart #lineChartBasic type="line" x-label="Time" y-label="Amount (€)" service="bookings" entity="sellBooking" x-axis="n_month" y-axis="profits" [chart-parameters]="chartParameters1"
 x-data-type="number" class="profits-card-chart"></o-chart> -->
 <o-chart #discretebar type="discreteBar" x-label="Axis x" y-label="Profits"service="bookings" entity="sellBooking" x-axis="timeDateD" y-axis="profits"  x-data-type="time" [chart-parameters]="chartParameters" fxFlex></o-chart>
