<o-table attr="product" service="products" entity="product" keys="ID" sort-columns="NAME:DESC"
  columns="PHOTO;ID;NAME;STATE;PRICE;STOCK;DATE_ADDED;ACTIVE;BODY" 
  visible-columns="PHOTO;ID;NAME;STATE;PRICE;STOCK;DATE_ADDED;ACTIVE" query-on-init="true"
  query-rows="20" quick-filter="yes"
  insert-table="yes">
  <o-table-column attr="NAME" orderable="yes" searchable="no" type="string">
  </o-table-column>
  <o-table-column attr="PHOTO" orderable="no" searchable="no" type="image" image-type="base64"
    empty-image="assets/images/login_bg.jpg" avatar="yes">
  </o-table-column>
  <o-table-column attr="DATE_ADDED" orderable="yes" searchable="no" type="date">
  </o-table-column>
</o-table>