<o-table attr="products" service="products" entity="product" keys="ID" sort-columns="NAME:DESC"
  columns="ID;NAME;STOCK;PRICE;PHOTO;ACTIVE;DATE_ADDED;STATE" columns="PHOTO;ID;NAME;STOCK;PRICE;ACTIVE;DATE_ADDED;STATE"
  query-on-init="true" query-rows="20" quick-filter="yes" insert-table="yes">
  <o-table-column attr="NAME" orderable="yes" searchable="no" type="string">
  </o-table-column>
  <o-table-column attr="PHOTO" orderable="no" searchable="no" type="image" image-type="base64"
    empty-image="assets/images/login_bg.jpg" avatar="yes">
  </o-table-column>
  <o-table-column attr="DATE_ADDED" orderable="yes" searchable="no" type="date">
  </o-table-column>
</o-table>